<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
  {{#each navLinks as |link|}}
    {{#if link.href}}
      <a class={{navLinkClass}} href={{link.href}}>{{link.text}}</a>
    {{else if (and link.path link.model)}}
      {{#link-to link.path link.model class=navLinkClass}}
        {{or link.text (capitalize link.path)}}
      {{/link-to}}
    {{else}}
      {{#link-to link.path class=navLinkClass}}
        {{or link.text (capitalize link.path)}}
      {{/link-to}}
    {{/if}}
  {{else}}
    You Forgot Your Links!
  {{/each}}

  {{#if footLinks}}
    <div class="matport-drawer__separator"></div>
    <span class="mdl-navigation__link" href="">Footer Links</span>
    {{#each footLinks as |link|}}
      {{#if link.href}}
        <a class="{{footLinkClass}}" href="{{link.href}}">{{link.text}}</a>
      {{else if (and link.path link.model)}}
        {{#link-to link.path link.model class=footLinkClass}}
          {{or link.text (capitalize link.path)}}
        {{/link-to}}
      {{else}}
        {{#link-to link.path class=footLinkClass}}
          {{or link.text (capitalize link.path)}}
        {{/link-to}}
      {{/if}}
    {{/each}}
  {{/if}}
</nav>
{{yield}}
