{{#matport-big-card imgSrc="assets/images/production-header.jpg" as |card|}}
  <h3 class={{card.headlineClass}}>What We Do</h3>
  <div class={{card.textClass}}>
    <p>We are a mobile, desktop, and web app consulting agency with focus on rapid product development. We reject the common modern-day software engineering concerns of "optimizing for big data" and "making sure it can scale to billions of users", and instead embrace the agile small business concerns of "does the business make sense" and "making sure this product can onboard its first paying users as soon as possible". Have an idea you want to try out? Let us build it for you.</p>
  </div>
  <h3 class={{card.headlineClass}}>How We Do It</h3>
  <div class={{card.textClass}}>
    <p>Ultra rapid development can only happen with expert knowledge of existing tool chains and components. Our experts strive hard to never reinvent any wheels, and instead know what wheel best fits your widget. Our tool-chain varies from platform to platform and product to product, but historically we commonly have relied on Ember.js, Elixir, and Ruby to get the job done.</p>
  </div>
{{/matport-big-card}}