{{#matport-big-card hasActions=true imgSrc="assets/images/contact-image.jpg" title="Hire us" as |card|}}
  <legend class={{card.headlineClass}}>
    Have a project in mind? Want something implemented over the weekend? Let us give it a shot.
  </legend>
  <div class="mdl-cell mdl-cell--12-col">
    {{mdl-textfield label="Name" value=contactName}}
    {{mdl-textfield label="Company Name" value=contactCompany}}
    {{mdl-textarea label="What can we do for you?" value=contactWhat}}
    {{mdl-textarea label="Describe your budget" value=contactBudget}}
  </div>

  {{#card.actions}}
    <a class={{card.actionClass}}
      href={{concat "mailto:foxnewsnetwork@gmail.com?" (querystring 
        subject=(concat "Work request from " contactCompany)
        body=(concat contactWhat "\n\n---\n\n" contactBudget)
      )}}>
      {{fa-icon "send"}} Send Email to foxnewsnetwork{{fa-icon "at"}}gmail.com
    </a>
  {{/card.actions}}
{{/matport-big-card}}