{{#matport-big-card hasActions=true bgSrc=model.leadImage title=model.name as |card|}}
  {{markdown-convert content=model.description style="avenir"}}

  {{#card.actions}}
    {{#if model.codeLink}}
      <a href={{model.codeLink}} class={{card.actionClass}}>
        {{fa-icon "github"}} Source Code
      </a>
    {{/if}}
    {{#if model.exampleLink}}
      <a href={{model.exampleLink}} class={{card.actionClass}}>
        {{fa-icon "globe"}} Open App
      </a>
    {{/if}}
  {{/card.actions}}
{{/matport-big-card}}
