{{#each model as |project|}}
  {{#matport-common-card
    title=project.name 
    bgSrc=project.leadImage as |card|}}
    {{#card.main}}
      {{project.summary}}
    {{/card.main}}

    {{#link-to "project.index" project class=card.ctaClass}}
      See More...
    {{/link-to}}
  {{/matport-common-card}}
{{/each}}