{{#matport-layout title=matportEnv.companyName
  navLinks=(append
    (hash path="index" text="Home")
    (hash path="about")
    (hash path="projects.index" text="Showcase")
    (hash path="requests.new" text="Contact"))
  footLinks=(append
    (hash path="goods")
    (hash path="terms" text="Terms of Service")
    (hash path="privacy" text="Privacy Policy")
    (hash href="https://getmdl.io/templates/portfolio/index.html" text="Reference Template"))
}}
  {{outlet}}
{{/matport-layout}}
