{{#website-hero as |hero|}}
  {{#hero.title}}Over-the-Weekend App Prototyping{{/hero.title}}
  {{#hero.subtitle}}Transform your daydream idea into an actual business{{/hero.subtitle}}
  {{#link-to "requests.new" class=(concat hero.ctaClass " pisource__cta")}}
    Let's Talk
  {{/link-to}}
{{/website-hero}}


{{#storefront-exposition position="top" imgClass="pisource__thinker" as |ys|}}
  {{#ys.title}}
    What's the difference between a business and a idea?
  {{/ys.title}}
  {{#ys.subtitle}}
    An idea is an abstract vision, and a business is a solid implementation of that vision into a system that can be tested by users in the the open market. Ideas make you dream. Businesses make you money.
  {{/ys.subtitle}}
  {{#link-to "about" class=ys.ctaClass}}
    Read More... <i class="material-icons">chevron_right</i>
  {{/link-to}}
{{/storefront-exposition}}

{{#storefront-exposition position="bottom" imgClass="pisource__merchants" as |ys|}}
  {{#ys.title}}
    Hire an expert
  {{/ys.title}}
  {{#ys.subtitle}}
    Your widget might be the next big thing, but if you have to invest 2 or 3 years to build it yourself, then how can you all your investment didn't go to waste?
  {{/ys.subtitle}}
  {{#link-to "projects" class=ys.ctaClass}}
    See What We've Built... <i class="material-icons">chevron_right</i>
  {{/link-to}}
{{/storefront-exposition}}

<div class="pisource__features">
  {{#website-features title="What we do"}}
    {{#website-feature-card src="assets/images/fast.jpg" title="Modularized Ultrafast Build"}}
      We're not here to reinvent any wheels or code golf, our experts utilize the full force of existing solutions to deliver your to market MVP fast. 
    {{/website-feature-card}}
    {{#website-feature-card src="assets/images/modular.jpg" title="Optimized For Humans Not Machines"}}
      No one cares if your big data NoSQL distributed map-reduce can run in log N time if the human part of your business logic isn't viable, all the code we ship is written to be simple and clear.
    {{/website-feature-card}}
  {{/website-features}}
</div>