{{!--
  Layout: ember-matport
  This template will be rendered with the route controller's
  context when `device/layout.isProjects/desktop` is true.
--}}
<container>
  <grid>
    {{partial "snippets/common-card"}}
  </grid>
</container>