{{!--
  Layout: ember-matport
  This template will be rendered with the route controller's
  context when `device/layout.isRequests/desktop` is true.
--}}

<screen>
  <container>
    <grid>
      {{partial "snippets/big-card-form"}}
    </grid>
  </container>
</screen>
{{outlet}}