@import 'material-design-lite';
@import 'ember-matport';
@import "ember-matweb";
@import 'storefront';

.android-be-together-section {
  height: 550px;
}
.logo-font {
  color: #ECEFF1;
}
.android-create-character {
  padding-top: 150px;
}

.pisource__cta {
  padding: 12px 24px;
  min-width: 144px;
}

.pisource__thinker {
  background-image: url("images/thinker.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.pisource__merchants {
  background-image: url("images/web2.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.pisource__features {
  background-color: #CFD8DC;
}

.container-lg {
  max-width: 900px;
  min-width: auto;
  margin: auto;
}