.matport-big-card__copy {
  max-width: 700px;
}

.matport-big-card__no-pad {
  padding: 0;
}

.matport-big-card__title-bg {
  min-height: 176px;
  .mdl-card__title-text {
    color: #fff;
    background-color: rgba(#212121, 0.3); 
  }
}