.matport-header {
  position: relative;
  background-image: url("images/header-bg.jpg");  
  .mdl-layout__header-row {
    padding: 0;
    justify-content: center;
    .mdl-navigation__link {
      display: block;
      color: rgb(66,66,66);
      padding: 0 24px;
    }
  }
  .mdl-layout__title {
    color: rgb(66,66,66);
    font-size: 14px;
    text-align: center;
    font-weight: 300;
  }
  .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
    color: rgb(0,0,0);
  }
}

.matport-header__logo-row {
  min-height: 200px;
}

.is-compact {
  .matport-header__logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
  }  
  .matport-header__logo-row {
    min-height: auto;
  }
  .matport-header__title-text {
    display: none;
  }
}
.matport-header__logo {
  background: url("images/p.png") 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.matport-header__navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
  .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
  }
  .active {
    position: relative;
    font-weight: bold;
    &::after {
      content: "";
      width: 70%;
      height: 2px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgb(255,64,129);
      left: 15%;
    }
  }

  .mdl-navigation__link {
    flex: 1;
    line-height: 42px;
  }
}