.matport-common-card__container {

}

.matport-common-card {
  width: 100%;
}

.matport-common-card__bg {
  height: 200px;
  color: #fff;
  background: {
    color: #263238;
    position: center center;
    size: cover;
  }
}

.matport-common-card__title-text {
  margin: 0 -16px;
  padding: 0 16px;
  background: {
    color: rgba(#263238, 0.3);
  }
}