<div class="mdl-mini-footer__left-section">
  <div class="mdl-logo">{{title}}</div>
</div>
<div class="mdl-mini-footer__right-section">
  <ul class="mdl-mini-footer__link-list">
    {{#each links as |link|}}
      {{#if link.href}}
        <li><a class={{navLinkClass}} href={{link.href}}>{{link.text}}</a></li>
      {{else if (and link.path link.model)}}
        {{#link-to link.path link.model tagName="li"}}
          {{#link-to link.path link.model class=footLinkClass}}
            {{or link.text (capitalize link.path)}}
          {{/link-to}}
        {{/link-to}}
      {{else}}
        {{#link-to link.path link.model tagName="li"}}
          {{#link-to link.path class=footLinkClass}}
            {{or link.text (capitalize link.path)}}
          {{/link-to}}
        {{/link-to}}
      {{/if}}
    {{else}}
      You Forgot Your Links!
    {{/each}}
  </ul>
</div>
{{yield}}
