<div class="mdl-card matport-common-card">
  <div class="mdl-card__title {{if bgSrc "matport-common-card__bg"}}" style={{titleStyle}}>
    <h2 class="mdl-card__title-text matport-common-card__title-text">
      {{title}}
    </h2>
  </div>
  {{#if imgSrc}}
    <div class="mdl-card__media matport-common-card__media">
      <img class="matport-common-card__article-image" src={{imgSrc}} border="0">
    </div>
  {{/if}}

  {{named-yield "main" class="mdl-card__supporting-text"}}

  <div class="mdl-card__actions mdl-card--border matport-common-card__actions">
    {{yield (hash
      main=(component "block-for" "main")
      ctaClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
    )}}
  </div>
</div>