{{!--
  Layout: ember-matport
  This template will be rendered with the route controller's
  context when `device/layout.isAbout/desktop` is true.
--}}

<container>
  <grid>
    {{partial "snippets/big-card"}}
  </grid>
</container>