{{#if (or isAtMostDesktop isCompact)}}
  <div role="button" tabindex="0" class="mdl-layout__drawer-button" {{action toggleMenu}}>
    <i class="material-icons">menu</i>
  </div>
{{/if}}
<div class="mdl-layout__header-row matport-header__logo-row">
  <span class="mdl-layout__title">
    <div class="matport-header__logo"></div>
    <span class="mdl-layout__title matport-header__title-text">{{title}}</span>
  </span>
</div>
{{#if device.isAtLeastDesktop}}
  <div class="mdl-layout__header-row matport-header__navigation-row">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      {{#each links as |link|}}
        {{#if link.href}}
          <a class={{navLinkClass}} href={{link.href}}>{{link.text}}</a>
        {{else if (and link.path link.model)}}
          {{#link-to link.path link.model class=navLinkClass}}
            {{or link.text (capitalize link.path)}}
          {{/link-to}}
        {{else}}
          {{#link-to link.path class=navLinkClass}}
            {{or link.text (capitalize link.path)}}
          {{/link-to}}
        {{/if}}
      {{else}}
        You Forgot Your Links!
      {{/each}}
    </nav>
  </div>
{{/if}}
{{yield}}
