<div class="mdl-card__title {{if bgSrc "matport-big-card__title-bg"}}" style={{titleStyle}}>
  <h2 class="mdl-card__title-text">{{title}}</h2>
</div>
{{#if imgSrc}}
  <div class="mdl-card__media matport-big-card__media">
    <img class="matport-big-card__article-image" src={{imgSrc}} border="0" alt="">
  </div>
{{/if}}

<div class="mdl-grid matport-big-card__copy">
  {{yield (hash
    actions=(component "block-for" "actions")
    headlineClass="mdl-cell mdl-cell--12-col mdl-typography--headline"
    textClass="mdl-cell mdl-cell--8-col mdl-card__supporting-text matport-big-card__no-pad"
    actionClass="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
  )}}
</div>

{{#if hasActions}}
  {{named-yield "actions" class="mdl-card__actions mdl-card--border"}}
{{/if}}