{{!--
  Layout: ember-matport
  This template will be rendered with the route controller's
  context when `device/layout.isProjects/project/index/desktop` is true.
--}}
<screen>
  <container>
    <grid>
      <hbox>
        {{#link-to "projects.index" class="mdl-cell mdl-button mdl-js-button mdl-button--raised"}}
          {{fa-icon "chevron-left"}} Back to Showcase
        {{/link-to}}
      </hbox>
      {{partial "snippets/big-card-alt"}}
    </grid>
  </container>
</screen>