{{!--
  Layout: ember-matport
  This template will be rendered with the route controller's
  context when `device/layout.isGoods/desktop` is true.
--}}
<screen>
  {{#website-docs 
    anchor="goods"
    sections=(append
      (hash 
        name="Getting Started" 
        links=(append
          (hash path="index" text="Quick Start")))
      (hash
        name="Components"
        links=(append
          (hash path="layout" text="Layout")
          (hash path="big-card" text="Big Card")
          (hash path="common-card" text="Common Card")
          (hash path="env" text="Matport Environment"))))}}
    {{outlet}}
  {{/website-docs}}
</screen>