<div class="matport-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {{component matportEnv.headerComponent 
    title=title 
    links=navLinks
    isCompact=isHeaderCompact
    toggleMenu=(toggle-action "showDrawer" this)}}
  {{component matportEnv.drawerComponent 
    title=title 
    navLinks=navLinks 
    footLinks=footLinks
    showDrawer=showDrawer}}

  <div class="matport-layout__content mdl-layout__content">
    {{yield}}
    {{component matportEnv.footerComponent showFooter=isHeaderCompact links=(union navLinks footLinks)}}
  </div>

</div>
{{#if showDrawer}}
  <div class="mdl-layout__obfuscator is-visible" {{action (toggle "showDrawer" this)}}></div>
{{/if}}
